---
import Layout from "@/layouts/Layout.astro";
import Posts from "@/components/Posts.astro";
---

<Layout title="Adam Jałocha - Blog">
  <main class="flex flex-col gap-6 pb-8">
    <h1 class="font-pattaya text-4xl">Posts</h1>
    <Posts />
  </main>
</Layout>
