---
import Link from "@/components/shared/Link.astro";
import { Icon } from "astro-icon/components";
import presentation from "@/data/presentation";
---

<ul class="relative flex w-fit flex-wrap gap-4">
  {
    Object.values(presentation.socials).map((social) => (
      <li>
        <Link
          href={social.link}
          class="w-fit transition-all hover:brightness-90"
        >
          <Icon name={social.icon} class="h-10 w-10" />
        </Link>
      </li>
    ))
  }
  <div
    class="absolute left-full hidden translate-x-1 translate-y-3 flex-col text-pink-600 md:flex"
  >
    <Icon name="curved-arrow" class="h-10 w-10 -rotate-90" />
    <h3 class="whitespace-nowrap font-pattaya text-xl">
      You can find me there!
    </h3>
  </div>
</ul>
